@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', Athelas, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: saddlebrown;
}

:root {
    --color-1: hsl(39, 77%, 83%);
}